{{- template "base" .}}
{{- define "main"}}
    success!
    {{- $resource := index .Map "resource"}}
    {{ capitalize $resource }}
    {{- if (contains $resource "res") }}
        contains
    {{- end}}
    {{- if (startsWith $resource "re") }}
        starts
    {{- end}}
    {{- if not (contains $resource "nope") }}
        nope
    {{- end}}
{{- end}}