#!/usr/bin/env bash

source_up
export REPO="$(expand_path .)"

source_env .env_development
source_env_if_exists .local/envrc
# secret/private ENV should be managed within `.local/envrc`:
# env_vars_required SSH_KEYPATH

PATH_add bin
