services:
  hexa-orchestrator:
    image: hexa
    container_name: hexa-orchestrator
    ports:
      - "8885:8885"
    command: orchestrator
    environment:
      ORCHESTRATOR_HOSTPORT: hexa-orchestrator:8885
      ORCHESTRATOR_KEY: 0861f51ab66590798406be5b184c71b637bfc907c83f27d461e4956bffebf6cb
      POSTGRESQL_URL: postgres://orchestrator:orchestrator@postgresql:5432/orchestrator_development?sslmode=verify-ca&sslrootcert=/home/databases/docker_support/ca-cert.pem&sslcert=/home/databases/docker_support/client-cert.pem&sslkey=/home/databases/docker_support/client-key.pem
    volumes:
      - "./databases/docker_support:/home/databases/docker_support:ro"
  hexa-admin:
    image: hexa
    container_name: hexa-admin
    ports:
      - "8884:8884"
    command: admin
    environment:
      ORCHESTRATOR_URL: http://hexa-orchestrator:8885
      ORCHESTRATOR_KEY: 0861f51ab66590798406be5b184c71b637bfc907c83f27d461e4956bffebf6cb

  demo-app:
    image: hexa
    container_name: hexa-demo
    ports:
      - "8886:8886"
    command: demo
    environment:
      PORT: 8886
      OPA_SERVER_URL: http://opa-agent:8887/v1/data/authz/allow

  demo-app-config:
    image: hexa
    container_name: hexa-demo-config
    ports:
      - "8889:8889"
    command: democonfig
    environment:
      PORT: 8889

  postgresql:
    image: postgres
    container_name: postgresql
    restart: always
    environment:
      POSTGRES_USER: postgresql
      POSTGRES_PASSWORD: postgresql
    volumes:
      - ".postgres:/var/lib/postgresql/data"
      - "./databases/docker_support/initdb.d:/docker-entrypoint-initdb.d/:ro"

  migrate:
    image: migrate/migrate
    container_name: migrate
    entrypoint: ""
    command: "/bin/sh /home/databases/docker_support/migrate-databases.sh"
    volumes:
      - "./databases/orchestrator:/home/databases/orchestrator:ro"
      - "./databases/docker_support:/home/databases/docker_support:ro"
    depends_on:
      - postgresql

  opa-agent:
    image: openpolicyagent/opa
    container_name: opa-server
    ports:
      - "8887:8887"
    command: run --server --addr :8887 -c /home/config/config.yaml
    environment:
      HEXA_DEMO_URL: "http://hexa-demo-config:8889"
    volumes:
      - "./deployments/opa-server/config:/home/config:ro"
