{{- template "base"}}
{{- define "main"}}
    <div class="card">
        <h1>Discovery</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Provider</th>
            </tr>
            </thead>
        </table>
    </div>
{{- end}}
