name: hexa-build
on:
  push:
    branches-ignore:
      - main
jobs:
  run-tests:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/hexa-test.yml
    secrets: inherit
