name: build
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgresql
          POSTGRES_PASSWORD: postgresql
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.18'
      - name: psql
        run: |
          sudo apt-get update
          sudo apt-get install --yes postgresql-client
      - name: create
        run: |
          psql -v on_error_stop=1 --host localhost --username postgresql <<-EOSQL
            create database orchestrator_test;
            create user orchestrator with password 'orchestrator';
            grant all privileges on database orchestrator_development to orchestrator;
          EOSQL
        env:
          PGPASSWORD: postgresql
      - name: golang-migrate
        run: |
          curl -L https://github.com/golang-migrate/migrate/releases/download/v4.12.2/migrate.linux-amd64.tar.gz | tar xvz
          sudo mv migrate.linux-amd64 /usr/bin/migrate
      - name: migrate
        run: |
          migrate -verbose -path ./databases/orchestrator -database postgres://orchestrator:orchestrator@localhost:5432/orchestrator_test?sslmode=disable up
      - name: opa
        run: |
          curl -L -o opa https://github.com/open-policy-agent/opa/releases/download/v0.38.1/opa_linux_amd64
          chmod 755 opa
          sudo mv opa /usr/bin/opa
      - name: test
        run: |
          go test -tags integration -coverprofile coverage.out  ./.../
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
  azure-container:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v2
      - uses: azure/docker-login@v1
        with:
          login-server: azurehexa.azurecr.io
          username: ${{ secrets.HEXA_DEMO_REGISTRY_USERNAME }}
          password: ${{ secrets.HEXA_DEMO_REGISTRY_PASSWORD }}
      - name: pack
        run: |
          sudo add-apt-repository ppa:cncf-buildpacks/pack-cli
          sudo apt-get update
          sudo apt-get install -y pack-cli
          pack build --builder heroku/buildpacks:20 --publish azurehexa.azurecr.io/hexa:${{ github.sha }}
  azure-deploy-hexa-demo:
    runs-on: ubuntu-latest
    needs: [azure-container]
    steps:
      - name: 'login via azure cli'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.HEXA_DEMO_AZURE_CREDENTIALS }}
      - uses: azure/webapps-deploy@v2
        with:
          app-name: 'azurehexa'
          images: 'azurehexa.azurecr.io/hexa:${{ github.sha }}'
  azure-deploy-hexa-demo-config:
    runs-on: ubuntu-latest
    needs: [azure-container]
    steps:
      - name: 'login via azure cli'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.HEXA_DEMO_CONFIG_AZURE_CREDENTIALS }}
      - uses: azure/webapps-deploy@v2
        with:
          app-name: 'azurehexa-config'
          images: 'azurehexa.azurecr.io/hexa:${{ github.sha }}'
